body {
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
    background: url("background.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    padding: 20px;

}

.title {
    font-size: 20px;
    /*font-family:"Comic Sans MS","Marker Felt";*/
    font-family: 'Bitcount Single';
    font-size: 30px;
    margin-top: 0px;
    letter-spacing: 3px;
    color: #de074b;
}

.subtitle {
    font-family: "Gill Sans", sans-serif;
    font: weight 80;
    font-size: 30px;
    margin-top: 0px;
    line-height: 1.4;
    color: #6e1f38;
}

.left-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* slightly to right */
    padding-right: 35px;
    /* adjust inwardness */
}

.right-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* slightly to left */
    padding-left: 35px;
    /* adjust inwardness */
}


.mood-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0px;

    width: 30%;
    margin-left: auto;
    margin-right: auto;

    column-gap: 0px;
}

.mood img {
    width: 160px;
    height: auto;
}

.mood p {
    font-family: cursive;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 10px;
    color: #070002;
    font-weight: 10px;
    font-style: oblique;
    text-align: center;
}

.mood {
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    transition: 0.2s ease;
}

.mood.selected {
    border: 2px solid #6e1f38;
}

.submit-img-btn {
    background: none;
    border: none;
    margin-top: 0px;
    cursor: pointer;
}

.submit-img-btn img {
    width: 260px;
    height: auto;
}